body{
  background-color: #efeee7;
  font-family: Georgia, #333333;
  margin: 0;
  padding: 0;

}
h1 {
  color: #eee;
  font-size: 28px;
  text-align: center;
}
h2 {
    font-size: 24px;
}

header{
  background:#333333;

}
.container {
  background-color: #DBE9EE;
  width: 1024px;
  margin: 0 auto;
}
  .link {
    color: #d21034
  }


#main-bio {
    float: left;
    width:70%;
}
#contact-info {
    float: left;
    width:30%;
}
#bio-image {
    float: left;
    width: 200px;
    height: 200px;
    margin-right: 20px

}
